<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>专业团队</title>

</head>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<body>
    <img src="images\王牌讲师.png">
    <input id="aaa" value="">
    <button onclick="test()">测试</button>
</body>
<style type="text/css">
    body{
        background-color: pink;
    }
</style>

<script type="text/javascript">
        function test() {
            var a = $("#aaa").val();
            alert(a);
        }
</script>
</html>