<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>首页</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    {#  设置网页标题图标  #}
    <link rel="icon" type="image/x-icon" href="/static/media/icon.ico" />
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">开发区</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">老师开发</a>
                <dl class="layui-nav-child">
                    <dd><a href="">赵嘉伟</a></dd>
                    <dd><a href="">高鹏</a></dd>
                    <dd><a href="">田博</a></dd>
                    <dd><a href="">M</a></dd>
                    <dd><a href="">书婷</a></dd>
                    <dd><a href="">月欣</a></dd>
                    <dd><a href="/jz">焦震</a></dd>
                    <dd><a href="/xiaohuihui_index">李世辉</a></dd>
                    <dd><a href="">xxx</a></dd>
                    <dd><a href="">xxx</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="/static/media/user_logo.jpg" class="layui-nav-img">
                    童程童美
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">溜了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">开发板块</a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;">开发人员</a>
                        </dd>
                        <li class="layui-nav-item">
                            <a class="" href="javascript:;">焦震</a>
                            <dl class="layui-nav-child">
                                <a href="">a</a>
                                <a href="">b</a>
                            </dl>
                        </li>
                        <li class="layui-nav-item">
                            <a class="" href="javascript:;">韩佳</a>
                            <dl class="layui-nav-child">
                                <a href="">a</a>
                                <a href="">b</a>
                            </dl>
                        </li>
                        <li class="layui-nav-item">
                            <a class="" href="javascript:;">田博</a>
                            <dl class="layui-nav-child">
                                <a href="">a</a>
                                <a href="">b</a>
                            </dl>
                        </li>
                        <li class="layui-nav-item">
                            <a class="" href="javascript:;">M</a>
                            <dl class="layui-nav-child">
                                <a href="/m">开发中..</a>
                                <a href="">b</a>
                            </dl>
                        </li>
                        <li class="layui-nav-item">
                            <a class="" href="javascript:;">李世辉</a>
                            <dl class="layui-nav-child">
                                <a href="/student">学生</a>
                                <a href="/userList">用户</a>
                            </dl>
                        </li>
                        <li class="layui-nav-item">
                            <a class="" href="javascript:;">高鹏</a>
                            <dl class="layui-nav-child">
                                <a href="">a</a>
                                <a href="">b</a>
                            </dl>
                        </li>
                        <li class="layui-nav-item">
                            <a class="" href="javascript:;">嘉伟</a>
                            <dl class="layui-nav-child">
                                <a href="">a</a>
                                <a href="">b</a>
                            </dl>
                        </li>
                        <li class="layui-nav-item">
                            <a class="" href="javascript:;">书婷</a>
                            <dl class="layui-nav-child">
                                <a href="">a</a>
                                <a href="">b</a>
                            </dl>
                        </li>
                        <li class="layui-nav-item">
                            <a class="" href="javascript:;">月欣</a>
                            <dl class="layui-nav-child">
                                <a href="">a</a>
                                <a href="">b</a>
                            </dl>
                        </li>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">解决方案</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">云市场</a></li>
                <li class="layui-nav-item"><a href="">发布商品</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">内容主体区域</div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © TCTM - 底部固定区域
    </div>
</div>
<script src="/static/layui/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });
</script>
</body>
</html>